@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700;900&family=Poppins:wght@300;400;700;900&display=swap");

html {
  font-family: "Poppins", "Noto Sans KR", sans-serif;
  font-size: 18px;
}
body {
  letter-spacing: -0.05em;
  overflow-x: hidden;
}
p {
  line-height: 1.4;
}
a {
  text-decoration: none;
  color: #fff;
}
.lh14 {
  line-height: 1.4;
}

/* MAIN-CONTAINER */
.main-container {
  overflow-x: hidden;
}

/* HEADER */
/* NAV */
.header {
  position: fixed;
  width: 100%;
  z-index: 10;
  padding-top: 20px;
}
.header-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 50px;
  margin-right: 50px;
}
.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-wrap img {
  width: 200px;
}
nav {
  display: block;
}
.header-menu-links {
  display: flex;
  flex-direction: row;
  font-size: 1rem;
  font-weight: 400;
}
.header-menu-links > a {
  color: #fff;
}
/* .header-menu-links a:hover {
  color: #FBAF42;
} */
.header-menu-links a:last-child {
  margin-left: 60px;
}

/* COVER-CONTAINER */
.cover-container {
  width: 100%;
  height: 100vh;
  text-align: center;
}
.cover-container .cover-layer {
  position: absolute;
  z-index: 4;
  width: 100%;
  left: 0;
  top: 46%;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  color: #fff;
}
.cover-container .cover-layer h1 {
  font-weight: 400;
  font-size: 2rem;
  letter-spacing: 0.4rem;
}
.cover-container video::-webkit-media-controls {
  display: none;
}
#coverVideo {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  background-position: center center;
  background-size: contain;
  object-fit: cover; /*cover video background */
  z-index: 3;
}

/* PAGE-CONTAINER */
.flex-container {
  /* max-width: 1360px; */
  display: flex;
  justify-content: center;
}
.page-container {
  /* width: 1360px; */
  width: 100%;
}

/* TEST-CONTAINER */

/* .test-container {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.first {
  height: 500px;
}
.second {
  margin-bottom: 1500px;
} */

/* COMMON */
.sec-title {
  display: flex;
  justify-content: center;
  padding-top: 10rem;
  padding-bottom: 8rem;
  font-size: 2rem;
  font-weight: 600;
}

/* SEC-FIRST */
.sec-first {
  /* background-color: rgb(151, 151, 151); */
  width: 100%;
  height: 80rem;
}
.first-desc {
  display: flex;
  justify-content: center;
  align-items: center;
}
.first-desc-title {
  margin-right: 4rem;
  font-size: 4rem;
  font-weight: 600;
  color: #fbaf42;
}
.first-desc-desc {
  margin-left: 4rem;
  font-size: 2rem;
  font-weight: 300;
}
.banner-slide {
  margin-top: 8rem;
  width: 100%;
  height: 700px;
}
.wrap_1 {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  background-position: center;
  background-size: cover;
  background-image: url(../images/banner_1.png);
  width: 100%;
  height: 700px;
}
.wrap_2 {
  background-position: center;
  background-size: cover;
  background-image: url(../images/banner_2.png);
  width: 100%;
  height: 700px;
}
.wrap_3 {
  background-position: center;
  background-size: cover;
  background-image: url(../images/banner_3.png);
  width: 100%;
  height: 700px;
}

/* FOOTER  */
.footer-container {
  background: rgb(250, 250, 250);
  width: 100%;
  height: 25rem;
}
.footer-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25rem;
}
.footer-logo {
  margin-bottom: 10rem;
}
.footer-logo img {
  width: 50%;
}
.footer-cl {
  font-size: 1.3rem;
  font-weight: 300;
}
.footer-email {
  font-size: 3rem;
  font-weight: 400;
  cursor: pointer;
}
.footer-con {
  font-size: 2rem;
  font-weight: 300;
  margin-top: 2.5rem;
  cursor: pointer;
}
.footer-con span {
  font-size: 1rem;
  margin-left: 0.3rem;
  color: #888888;
}
.footer-tel,
.footer-fax {
  display: flex;
}
.footer-address {
  font-size: 2rem;
  font-weight: 300;
  margin-top: 2.5rem;
  cursor: pointer;
}
.footer-address span {
  font-size: 1rem;
  color: #888888;
}
.footer-line {
  background-color: rgb(0, 0, 0);
  width: 2px;
  height: 70%;
  margin-left: 4rem;
  margin-right: 2rem;
}

/* 반응형 */

/* 1025 to 1540 LAPTOP */
@media (min-width: 1025px) and (max-width: 1540px) {
}
/* 768 to 1024 TABLET */
@media (min-width: 768px) and (max-width: 1024px) {
}
/* 0 to 767px MOBILE */
@media (max-width: 768px) {
}
